# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_36FFD7055359393505762143-if00

[mcu rpi]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 50000
max_accel_to_decel: 25000
square_corner_velocity: 8.0
max_z_velocity: 15
max_z_accel: 45

[firmware_retraction]
retract_length: 0.75
retract_speed: 50
unretract_extra_length: 0
unretract_speed: 30

[force_move]
enable_force_move: True

[idle_timeout]
gcode:
    {% if printer.webhooks.state == "ready" %}
        {action_respond_info("POWER: Execute Idle Timeout")}
        TURN_OFF_HEATERS
        M84
        LED_OFF
    {% endif %}
timeout: 7200  # 2 hours

[virtual_sdcard]
path: ~/gcode_files

[save_variables]
filename: ~/klipper_config/saved_variables.cfg

[board_pins]
aliases:
    # Heaters
    BED=PC9, HE0=PC8, 
    # Thermistors
    THB=PC3, TH0=PA0,
    # Fans
    FAN1=PC7, FAN0=PC6,
    PS_ON=PC13, PT_DET=PC12, UART_RX=PC11, UART_TX=PC10,
    NEO=PA8,
    # Endstops
    X_STOP=PC0, Y_STOP=PC1, Z_STOP=PC2, E0_STOP=PC15,
    # Steppers
    X_STEP=PB13, X_DIR=PB12, X_ENABLE=PB14,
    Y_STEP=PB10, Y_DIR=PB2, Y_ENABLE=PB11,
    Z_STEP=PB0, Z_DIR=PC5, Z_ENABLE=PB1,
    E0_STEP=PB3, E0_DIR=PB4, E0_ENABLE=PD2,
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>
